:root {
    --primary-color: #022140;
    --secondary-color: #ececec;
    --color-cyan: #2e9cca;
    --color-darkcyan: #29648a;
    --color-grey: #464866;
    --gap: 20px;
    --font: 50px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    padding: var(--gap) 0px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: calc(var(--gap)*2);
}

.logo p {
    font-family: "Major Mono Display", monospace;
    font-size: 30px;
    text-decoration: none;
    color: var(--secondary-color);
    color: inherit;
    transition: color 0.3s;
    margin: 0px;
    cursor: pointer;
}

.list-right li {
    list-style: none;
}

.list-right li a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.list-right li a:hover {
    font-weight: bold;
    transition: 0.3s;
}

.list-right {
    display: flex;
    gap: var(--gap);
}

.toggle .toggle-icon {
    cursor: pointer;
    font-size: 24px;
    color: var(--secondary-color);
    color: inherit;

}

.header-container.scrolled {
    border-bottom: 2px solid var(--color-darkcyan);
    box-shadow: 0px 2px 5px 0px var(--color-darkcyan);
}

.light-mode {
    --primary-color: #ececec;
    --secondary-color: #022140;
}


.light-mode .ed-section {
    background-color: var(--color-cyan);
}

.light-mode .sliding-text {
    background: linear-gradient(90deg, #022140, #2e9cca, #022140);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: slide 3s linear infinite;
}

.light-mode .upcode-hover:hover {
    color: var(--primary-color);
}

.content-para {
    max-width: 500px;
    line-height: 1.6;
}

.content h1 {
    margin-bottom: 0px;
}

.img-container {
    position: relative;
    display: inline-block;
}


img {
    max-width: 500px;
    display: block;
    height: auto;
    border-radius: 8px;
    z-index: 1;
    position: relative;
}

.img-container::before,
.img-container::after {
    content: '';
    position: absolute;
    border: 3px solid var(--secondary-color);
    z-index: 0;
}

.img-container::before {
    top: -10px;
    left: calc(var(--gap)*2);
    width: 70%;
    height: 70%;
    border-right: none;
    border-bottom: none;
}

.img-container::after {
    bottom: -10px;
    right: calc(var(--gap)*2);
    width: 70%;
    height: 70%;
    border-left: none;
    border-top: none;
}

.main-section {
    margin-top: calc(var(--gap)*12);
    margin-bottom: calc(var(--gap)*4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: calc(var(--gap)*2);
    width: 50px;
    height: 50px;
    border: 2px outset var(--color-cyan);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px var(--color-cyan);
    color: var(--color-cyan);
    margin: 20px 30px 30px 0px;
}

.social-media a:hover {
    background-color: var(--color-cyan);
    color: var(--secondary-color);
    transition: 0.3s linear;
    animation: shake 0.3s infinite;
}

.cv-container a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.cv-container a:hover {
    color: var(--secondary-color);
    transition: 0.3s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.skills-section {
    padding-top: calc(var(--gap)*4);
    padding-bottom: calc(var(--gap)*11);
}

.skills-section h1 {
    text-align: center;
    font-size: var(--font);
}

.skill-container i {
    font-size: 40px;
}

.skill-container div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.skill-container p {
    font-size: 24px;
}

.s-container1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--gap);
}

.s-container2 {
    display: flex;
    justify-content: space-between;
}

.skill-container .html-color {
    color: #e34c26;
}

.skill-container .css-color {
    color: #264de4;
}

.skill-container .git-color {
    color: #f1502f;
}

.skill-container .js-color {
    color: #F0DB4F;
}

.ed-section h1 {
    text-align: center;
    font-size: var(--font);
}

.ed-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: skewY(5deg);
    margin-top: -3rem;
    padding: 6rem 0;
    background-color: #02182d;
    border: 0;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 5px 0px var(--color-darkcyan);
}

.ed-container {
    transform: skewY(-5deg);
    padding: 0 2rem;
    text-align: center;
}

.ed-container div {
    padding-bottom: var(--gap);
}

.ed-container div:nth-child(3) {
    padding-bottom: 0px;
}

.ed-container h3 a {
    text-decoration: none;
    color: var(--secondary-color);
}

.upcode-hover:hover {
    color: var(--color-cyan);
    transition: 0.3s;
}

.basic-projects h1 {

    margin-bottom: 0px;
    padding-top: calc(var(--gap)*8);
    font-size: var(--font);
}

.basic-projects p {
    margin-top: 0px;
    padding-top: calc(var(--gap));
    padding-bottom: calc(var(--gap)*2);
    font-size: 20px;
}

.blk-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blk a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--gap)*10);
    height: calc(var(--gap)*5);
    background-color: var(--secondary-color);
    border-radius: calc(var(--gap)/2);
    box-shadow: 0 0px 8px 0px rgba(255, 255, 255, 0.46);
    transition: transform 0.4s ease;
    text-decoration: none;
    font-size: 25px;
    color: var(--primary-color);
}

.blk a:hover {
    transform: scale(1.1);
}

.uni-projects h1 {
    margin-bottom: 0px;
    padding-top: calc(var(--gap)*6);
    font-size: var(--font);
}

.txt-mod p {
    margin-top: 0px;
    padding-top: calc(var(--gap));
    padding-bottom: calc(var(--gap)*2);
    font-size: 20px;
}

.view-btn a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: #f1502f;
    width: calc(var(--gap)*4);
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-btn a:hover {
    background-color: #ef9785;
    transition: 0.2s;
}

.main-proj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    max-width: 1200px;
    width: 100%;
    padding-bottom: calc(var(--gap)*2);
}

.proj-1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 300px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid #2ea043;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px;
}

.proj-2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 300px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid #29648a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px;
}

.proj-3 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 300px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid #264de4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px;
}

.p-mod {
    font-size: 18px;
    margin-bottom: auto;
    flex-grow: 1;
    line-height: 1.5;
}

.txt-mod2 {
    font-size: calc(var(--gap))
}

.txt-mod2 a {
    text-decoration: none;
    color: var(--color-cyan);
}

.txt-mod2 a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.footer-container {
    margin-top: calc(var(--gap)*12);
    padding: calc(var(--gap)/2);
    display: grid;
    place-items: center;
}

.footer-container div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-container div i {
    font-size: 18px;
}

.footer-container div p {
    font-family: "Poppins", sans-serif;
}

.sliding-text {
    background: linear-gradient(90deg, #ececec, #2e9cca, #ececec);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: slide 3s linear infinite;
    font-size: var(--font);
}

@keyframes slide {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@media only screen and (min-width: 1200px) {
    .header-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 900px){
    .header-content{
        max-width: 700px;
    }
    .header-container {
        padding: 10px 0px;
    }
    .main-section{
        max-width: 700px;
    }
    .skills-section{
        max-width: 700px;
    }
    .basic-projects{
        max-width: 700px;
    }
    .uni-projects{
        max-width: 700px;
    }

}


@media only screen and (max-width: 480px) {
    .header-content {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
    
    .header-right{
        gap: var(--gap);
    }
    .header-container {
        padding: 2px 0px;
    }

    .logo p {
        font-size: 20px;
    }

    .list-right li a {
        font-size: 15px;
    }

    .toggle .toggle-icon {
        font-size: 20px;
    }

    .img-container {
        display: none;
    }

    .bk-img {
        display: none;
    }

    .main-section {
        margin-top: calc(var(--gap)*6);
        margin-bottom: calc(var(--gap)*2);
        max-width: 320px;
    }

    .content h1 {
        font-size: 30px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content-para {
        font-size: 14px;
        max-width: 320px;
    }

    .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border: 2px outset var(--color-cyan);
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px var(--color-cyan);
        color: var(--color-cyan);
        margin: 10px 15px 15px 0px;
    }

    .cv-container a {
        font-size: 14px;
    }

    .skills-section {
        padding-top: calc(var(--gap)*2);
        padding-bottom: calc(var(--gap)*11);
        max-width: 320px;
    }

    .skills-section h1 {
        font-size: 30px;
    }

    .skill-container p {
        font-size: 20px;
    }

    .skill-container i {
        font-size: 30px;
    }

    .s-container1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .s-container2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ed-section h1 {
        font-size: 30px;

    }

    .ed-section h2 {
        font-size: 20px;
    }

    .basic-projects {
        max-width: 320px;
    }

    .basic-projects h1 {
        padding-top: calc(var(--gap)*6);
        padding-bottom: 10px;
        font-size: 30px;
    }

    .basic-projects p {
        padding-top: 10px;
        padding-bottom: calc(var(--gap)*2);
        font-size: 14px;
    }

    .blk-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
   
    .blk a{
        width: calc(var(--gap)*8);
        height: calc(var(--gap)*4);
        margin-bottom: calc(var(--gap)*2);
    }

    .blk a {
        font-size: 20px;
    }

    .uni-projects {
        max-width: 320px;
    }

    .uni-projects h1 {
        padding-top: calc(var(--gap)*2);
        font-size: 30px;
    }

    .txt-mod p {
        font-size: 14px;
    }

    .p-mod {
        font-size: 14px;
    }

    .proj-1 {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 280px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
        border-bottom: 4px solid #2ea043;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 120px;
    }

    .proj-2 {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 280px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
        border-bottom: 4px solid #29648a;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 120px;
    }

    .proj-3 {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 280px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
        border-bottom: 4px solid #264de4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 120px;
    }

    .txt-mod2 {
        font-size: 14px;
    }

    .main-proj {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .footer-container {
        font-size: 15px;
        margin-top: calc(var(--gap)*8);
    }
}